name: Build and push seeded PostGIS image

on:
  push:
    branches:
      - main
    paths:
      - 'changelog/**'
      - 'src/api/common/migration/**'
      - 'db/Dockerfile.seeded'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build and push seeded DB image
        uses: DEFRA/cdp-build-action/build@main
        with:
          image-name: land-grants-postgres-seeded
          dockerfile: ./db/Dockerfile.seeded
          context: ./db
          github-token: ${{ secrets.GITHUB_TOKEN }}
