name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  pr-validator:
    name: Run Pull Request Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Test code and Create Test Coverage Reports
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - run: |
          npm ci --ignore-scripts
          npm run build
          npm run format:check
          npm run lint
          npm test

      - name: Import tests
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - run: |
          npm run test:import

      - name: Api e2e tests
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
        env: # Or as an environment variable
          AUTH_HEADER_TOKEN: ${{ secrets.AUTH_HEADER_TOKEN }}
          LAND_GRANTS_AUTH_TOKEN: ${{ secrets.LAND_GRANTS_AUTH_TOKEN }}
          LAND_GRANTS_ENCRYPTION_KEY: ${{ secrets.LAND_GRANTS_ENCRYPTION_KEY }}
      - run: |
          npm run test:e2e

      - name: Test Docker Image Build
        run: |
          set +e
          docker build --no-cache --tag cdp-node-backend-template .
          exit $?

      - name: SonarCloud Scan
        if: github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarcloud-github-action@master
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  contract-tests:
    name: Run Pact Contract Tests
    if: github.event.pull_request.head.repo.full_name == github.repository || github.event_name != 'pull_request'
    runs-on: self-hosted
    steps:
      - name: Mask secrets
        run: |
          echo "::add-mask::$PACT_USER"
          echo "::add-mask::$PACT_PASS"

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Run Contract Tests
        env:
          PACT_BROKER_BASE_URL: https://ffc-pact-broker.azure.defra.cloud
          PACT_PUBLISH_VERIFICATION: false
        run: |
          export PACT_BROKER_USERNAME="$PACT_USER"
          export PACT_BROKER_PASSWORD="$PACT_PASS"
          npm ci --ignore-scripts
          npm run test:contracts
